<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <uses-feature android:name="andorid.hardware.camera2" android:required="true"></uses-feature>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
//zapisuje plik na dysku zewnętrznym i używa kamery tylnej telefonu
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity"
            android:label="My_Application">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
//https://www.youtube.com/watch?v=HPwTbN79Cic LINK DO PORADNIKA, KTÓRY OPISUJE KROK PO KROKU CO ZOSTALO ZROBIONE